# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:xxx@xxxx:xxxx/xxxx"

# nodemailer配置
nodemailer_host=xxx
nodemailer_port=xxx
nodemailer_auth_user=xxx
nodemailer_auth_pass=xxx

# redis配置
redis_server_host=xxx
redis_server_port=xxx
redis_server_db=x

# Better Auth 配置
USER_AUTH_CALLBACK_URL=xxxx
BETTER_AUTH_SECRET=xxxx
BETTER_AUTH_URL=xxxx
BETTER_AUTH_TRUSTED_ORIGINS=xxxx
